* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  overflow: hidden;
}

/** ヘッダーが34px、フッターが20px */



#header_fixed {
  position: fixed;
  height: 34px;
  width: 100%;
}

#footer_fixed {
  position: fixed;
  height: 20px;
  width: 100%;
  bottom: 0px;
  background-color: #337ab7;
  color: #eeeeee;
}

#input_leader {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  padding: 34px 0px 20px 0px;
}

#input_area {
  display: table-cell;
  background-color: green;
}

#input_txt {
  width: 100%;
  height: 100%;
}


#register_memory {
  display: table-cell;
  vertical-align: top;
}

#register_area {
  display: block;
  height: 50%;
  text-align: center;
  background-color: blue;
  overflow-y: scroll;
  /**scrollbar-width: none;**/
}

#memory_area {
  display: block;
  height: 50%;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
  /**scrollbar-width: none;**/
}

#comet_stack {
  display: table-cell;
  vertical-align: top;
}

#comet_area {
  display: block;
  height: 50%;
  width: 100%
  text-align: center;
  background-color: yellow;
}

#stack_area {
  display: block;
  height: 50%;
  text-align: center;
  background-color: red;
  overflow-y: scroll;
}

#Memorytable td {
  border: 1px solid;
}

#Memorytable{
  width: 100%;
  height: 100%;
}

#Stacktable td {
  border: 1px solid;
}

#Stacktable{
  width: 100%;
  height: 100%;
}

#canvas{
  width: 100%;
  height: 100%;
  overflow: scroll;
}